In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv('accepted_2007_to_2018Q4.csv')

/Users/a.sabbag/miniforge3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
df1.shape

(2260701, 151)

In [9]:
df2 = pd.read_csv('rejected_2007_to_2018Q4.csv')

In [20]:
df2.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [33]:
df = df1[['issue_d','addr_state','application_type','loan_amnt','zip_code','settlement_amount','term','int_rate','sub_grade','emp_length','emp_title','home_ownership', 'annual_inc','dti_joint','mths_since_recent_inq', 'revol_util', 'bc_open_to_buy','verification_status','purpose','title','open_acc','bc_util','total_acc','num_op_rev_tl','dti','dti_joint','loan_status']]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 27 columns):
 #   Column                 Dtype
---  ------                 -----
 0   issue_d                object
 1   addr_state             object
 2   application_type       object
 3   loan_amnt              float64
 4   zip_code               object
 5   settlement_amount      float64
 6   term                   object
 7   int_rate               float64
 8   sub_grade              object
 9   emp_length             object
 10  emp_title              object
 11  home_ownership         object
 12  annual_inc             float64
 13  dti_joint              float64
 14  mths_since_recent_inq  float64
 15  revol_util             float64
 16  bc_open_to_buy         float64
 17  verification_status    object
 18  purpose                object
 19  title                  object
 20  open_acc               float64
 21  bc_util                float64
 22  total_acc              float64
 23  num_op_rev_tl          float64
 24  dti                    float64
 25  dti_joint              float64
 26  loan_status            object
dtypes: float64(14), object(13)
memory usage: 465.7+ MB