In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('data/accepted_2007_to_2018Q4.csv', )

/var/folders/fd/wgp9jk8x1msd6_yg7qnrxj0r0000gn/T/ipykernel_13743/4215257357.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('data/accepted_2007_to_2018Q4.csv')

In [4]:
df1.shape

(2260701, 151)

In [5]:
df2 = pd.read_csv('data/rejected_2007_to_2018Q4.csv')

In [6]:
df2.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [7]:
df = df1[['issue_d','addr_state','application_type','loan_amnt','zip_code','settlement_amount','term','int_rate','sub_grade','emp_length','emp_title','home_ownership', 'annual_inc','dti_joint','mths_since_recent_inq', 'revol_util', 'bc_open_to_buy','verification_status','purpose','title','open_acc','bc_util','total_acc','num_op_rev_tl','dti','dti_joint','loan_status']]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 27 columns):
 #   Column                 Dtype
---  ------                 -----
 0   issue_d                object
 1   addr_state             object
 2   application_type       object
 3   loan_amnt              float64
 4   zip_code               object
 5   settlement_amount      float64
 6   term                   object
 7   int_rate               float64
 8   sub_grade              object
 9   emp_length             object
 10  emp_title              object
 11  home_ownership         object
 12  annual_inc             float64
 13  dti_joint              float64
 14  mths_since_recent_inq  float64
 15  revol_util             float64
 16  bc_open_to_buy         float64
 17  verification_status    object
 18  purpose                object
 19  title                  object
 20  open_acc               float64
 21  bc_util                float64
 22  total_acc              float64
 23  num_op_rev_tl          float64
 24  dti                    float64
 25  dti_joint              float64
 26  loan_status            object
dtypes: float64(14), object(13)
memory usage: 465.7+ MB

In [8]:
df

,issue_d,addr_state,application_type,loan_amnt,zip_code,settlement_amount,term,int_rate,sub_grade,emp_length,...,verification_status,purpose,title,open_acc,bc_util,total_acc,num_op_rev_tl,dti,dti_joint,loan_status
0,Dec-2015,PA,Individual,3600.0,190xx,NaN,36 months,13.99,C4,10+ years,...,Not Verified,debt_consolidation,Debt consolidation,7.0,37.2,13.0,4.0,5.91,NaN,Fully Paid
1,Dec-2015,SD,Individual,24700.0,577xx,NaN,36 months,11.99,C1,10+ years,...,Not Verified,small_business,Business,22.0,27.1,38.0,20.0,16.06,NaN,Fully Paid
2,Dec-2015,IL,Joint App,20000.0,605xx,NaN,60 months,10.78,B4,10+ years,...,Not Verified,home_improvement,NaN,6.0,55.9,18.0,4.0,10.78,13.85,Fully Paid
3,Dec-2015,NJ,Individual,35000.0,076xx,NaN,60 months,14.85,C5,10+ years,...,Source Verified,debt_consolidation,Debt consolidation,13.0,12.1,17.0,10.0,17.06,NaN,Current
4,Dec-2015,PA,Individual,10400.0,174xx,NaN,60 months,22.45,F1,3 years,...,Source Verified,major_purchase,Major purchase,12.0,77.5,35.0,7.0,25.37,NaN,Fully Paid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,Oct-2016,CA,Individual,40000.0,907xx,NaN,60 months,10.49,B3,9 years,...,Verified,debt_consolidation,NaN,5.0,66.9,37.0,3.0,12.75,NaN,Current
2260697,Oct-2016,FL,Individual,24000.0,334xx,10000.0,60 months,14.49,C4,6 years,...,Not Verified,debt_consolidation,Debt consolidation,10.0,77.5,31.0,8.0,18.30,NaN,Charged Off
2260698,Oct-2016,TX,Individual,14000.0,770xx,NaN,60 months,14.49,C4,10+ years,...,Verified,debt_consolidation,NaN,8.0,80.7,22.0,5.0,23.36,NaN,Current
2260699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN